.chat {
  position: "fixed";
  right: 0;
  bottom: 0;
  background-color: "white";
  border-radius: "20px";
  color: "#000000";
}

#chat {
  bottom: 0;
  width: 100%;
  display: flex;
}

#chat input {
  flex: 1 0 auto;
  outline: 0;
  border: none;
}

#chat .btn {
  background-color: #00ff84;
  border-color: #00ff84;
  color: #0d0e0e;
  font-weight: bold;
}

#messages {
  list-style: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#messages li {
  max-width: 49%;
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.15);
}

.ownMessage {
  align-self: flex-end;
  background-color: #00ff84;
  color: #0d0e0e;
  border-top-right-radius: 0 !important;
}

.message {
  align-self: flex-start;
  background-color: #0d0e0e;
  color: white;
  border-top-left-radius: 0 !important;
}
