.feed-btn {
  border-radius: 30px;
  width: 20%;
  height: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-btn-wrapper {
  display: flex;

  width: 100%;
  position: relative;
  left: 60%;
}
