.header {
  display: flex;
  align-items: center;
}
.main-container {
  box-shadow: 0px 5px 8px -9px grey;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  color: rgb(110, 110, 110);
}

.icon:hover {
  color: rgb(63, 63, 63);
}

.navbar-right {
  display: flex;
  position: relative;
  left: 16%;
  flex: 0.4;
}

.navbar-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0.3;
}

.Linkedin-icon {
  width: 20%;
  height: 20%;
  color: #0073b1;
}

.navbar-profile-menu > img {
  width: 1.4rem;
  margin: 3px 0;
  height: 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}
.navbar-profile-menu > img:hover {
  transform: scale(1.5);
}

.search-input {
  display: flex;
  align-items: center;
  width: 18rem;
  background-color: #84bddb31;
  padding: 10px;
  margin-left: 0.1rem;
  border-radius: 4px;
  height: 2.1rem;
}

.search-input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.side-menu {
  border-left: 1px solid grey;
  display: flex;
  flex: 0.3;
}

@media screen and (max-width: 1200px) {
  .navbar-right > div > h5 {
    display: none;
  }

  .side-menu > div > h5 {
    display: none;
  }
}
