#person img {
  border-radius: 5000px;
}

#person h6 {
  margin: 0;
  font-size: 16px;
}

#person span {
  font-size: 14px;
  line-height: 20px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#person {
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 10px;
  position: relative;
}

#divider {
  position: absolute;
  border: 1px solid #deddda;
  bottom: -10px;
  right: -25px;
}
