footer a {
  font-size: 0.84rem;
  color: #56687a;
  font-weight: 600;
}

footer small {
  font-size: small;
}

footer select {
  width: 300px;
  padding: 5px 0;
  border-radius: 3px;
  font-size: 15px;
}
